apiVersion: v1
kind: Service
metadata:
  name: admin-dashboard
  labels:
    app: admin-dashboard
spec:
  type: ClusterIP
  selector:
    app: admin-dashboard
  ports:
    - name: http
      port: 3000
      targetPort: 3000

